# Development overrides
WEBPACK_DEV_SERVER_PROXY_TARGET=https://alpha.jitsi.net
CODESPACES=
ANALYZE_BUNDLE=
DETECT_CIRCULAR_DEPS=

# Test configuration
HEADLESS=
GRID_HOST_URL=
BROWSER_FF_BETA=
ALLOW_INSECURE_CERTS=
RESOLVER_RULES=
VIDEO_CAPTURE_FILE=
BROWSER_CHROME_BETA=
MAX_INSTANCES=
BASE_URL=https://alpha.jitsi.net/torture/
JITSI_DEBUG=
EXPECTATIONS=

# JaaS and Tenant settings
JAAS_TENANT=
IFRAME_TENANT=
JAAS_PRIVATE_KEY_PATH=
JWT_PRIVATE_KEY_PATH=
JAAS_KID=
JWT_KID=
JWT_ACCESS_TOKEN=

# Room configuration
ROOM_NAME=
ROOM_NAME_PREFIX=
ROOM_NAME_SUFFIX=

# Webhooks
WEBHOOKS_PROXY_URL=
WEBHOOKS_PROXY_SHARED_SECRET=

# Misc
WDIO_WORKER_ID=
